*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
  }
  
  p{
    display: block;
    color: white;
    font-family: 'fredoka one';
  }
  
  
  .ContAchat{
    border-radius: 56px;
    background-color: white;
    color: #232323;
    width: 20%;
    padding: 0.5%;
    margin-left: 37%;
    margin-top: 3%;
    text-align: center;
    margin-bottom: 30%;
    font-size: 20px;
    font-family: 'fredoka one';
  }
  .Ajout{
    display:inline-flex;
    flex-wrap: wrap;
    width: 40%;
    margin-bottom: 5%;
    margin-left: 55%;
    margin-top: 15%;
  }
  .Boutons{
    background-color: #FFFFFF;
    width: 20%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 56px 0px 0px 56px;
  }
  
  .BiereMockup{
    position: relative;
  }
  .BiereMockup img{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 700px; /* Hauteur fixe de l'image */
    margin-top: 3%;
    margin-left: 5%;
  }
  
  .BiereMockup .effet{
    top: 100px;
    width: auto;
    height: 400px; /* Hauteur fixe de l'image */
    /* margin-left: 5%; */
    margin-top: 1%;
  }
    .Prix{
      position: absolute;
      left: 75%;
      top: 35%;
      font-size: 30px;    
    }
  
    .Description{
      
      display: block;
      font-family: 'gilroy';
      position: absolute;
      margin-left: 65%;
      margin-top: 22%;
      margin-right: 10%;
    }
  
    .cl{
      margin-right: 10px;
      border-radius: 56px;
      font-size: 18px;
      padding: 10px 20px;
      margin-top: 34%;
        }
  
    .PLUS{
      margin-left: 50%;
      padding: 5%;
      font-size: 30px;
      text-align: center;
      color: #232323;
      margin-bottom: 20%;
    }
  
    .SOUS{
      flex: auto ;
      margin-left: 53%;
      padding: 5%;
      padding-left: 12.5%;
      padding-right: 12.5%;
      font-size: 30px;
      text-align: center;
      color: #232323;
    }
  
    .QTE{
      margin-left: 5%;
      padding: 5%;
      font-size: 40px;
      color: #232323;
      display: flex;
      align-items: center;
}
      
  
    /* Pour rock */
    .Rock{
      float: right;
      margin-right: 10%;
      margin-top: 2%;
    }
  
    .Rock img{
    width: auto;
    height: 600px; /* Hauteur fixe de l'image */
    }
  
     /* Pour tango */
  
    /* Pour Electro */
  
    /* Pour Jazz */
  