
p,ul{
    font-family: 'fredoka one';
    list-style-type: none;
    font-size: 2em;  
}

.Horaires{
    display: flex;
    flex-direction: column;
    align-items: start;
    float: left;
    margin-left: 3%;
}

.RS{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content:start;
    margin-right: 3%;
}

.alcool{
    margin-top: 10%;
    text-align: center;
}

footer {
    height:50px;  /*La taille de ton footer */
    background-image: url(public/images/logo_rs/FIN2.png);
 
}
 
.contenu{
    height: 100%; /*Le contenu prend 100% de la page */
    margin-bottom: -50px; /*L'opposé de la taille du footer */
}
 
 
body{
    height: 100%;
    margin: 0; /* pas de marge */
    padding: 0; /*ni de padding */
}

