body {
    background-color: #232323;
}


nav.menu ul {
    list-style-type: none;
    overflow: hidden;
    margin : 0;
    padding-right : 50px;
    background-color: #FF398A;
    border-radius: 2em;
    width : 700px;
    height : 70px;
    color : #202020;
    font-family:"Gilroy ExtraBold";
    margin-inline: auto;
  }

nav.menu li {
    float : left;
    height: 60px;
    margin : 10px;
    width : 13%;
    text-align: center;
  }
  
nav.menu li a{
    display: block;
    color:rgb(11, 2, 2);
    text-align: center;
    padding : 14px 18px;
    text-decoration: none;
    font-size: 14px;
    position : relative;
    left : 15px;
  }

nav.menu img {
    height : 44px;
    width : 64px;
    position : relative;
    bottom : 10px;
    left : 10px;
}

.logo img {
    height: 22px;
    width : 130px;
    border-radius: 2em;
    background-color: #202020;
    position : relative;
    left : 660px;
    top : 20px;
    padding : 10px;
}

h2 {
    font-family:"Gilroy ExtraBold";
    color : rgb(255,255,255);
    text-align: center;
}

.brasserie {
    background-color: black;
    color : rgb(255,255,255);
    border-radius: 2em;
    height : 500px;
    width : 500px;
    margin-left: 350px;
    margin-top : 400px;
}

.brasserie p {
    margin-top: 40px;
    text-align : center;
    font-family:"Gilroy Light";
}

button {
    border-radius: 2em;
    font-family:"Gilroy ExtraBold";
    color :#202020;
    text-align: center;
    position : relative;
    left : 80px;
    top : 5px;
    width : 150px;
    height : 40px;
}

h3 {
    color : white;
    font-family:"Gilroy ExtraBold";
    padding-top : 40px;
}

.numeroclient a {
    font-family:"Gilroy ExtraBold";
    color : white;
    overflow: hidden;
}

.numeroclient {
    background-color: black;
    border-radius: 56px;
    font-size : 20px;
    height: 401px;
    width : 575px;
    text-align: center;
    margin-inline: auto;
    margin-top : 100px;
}

#numsearch {
    padding-top : 20px;
}

#question {
    padding-top: 20px;
}

#boutton {
    padding-top: 20px;
    padding-right : 200px;
}


#barredenum {
    width : 450px;
	height: 35px;
    background-color : rgb(255,255,255);
    border : 1px solid rgb(255,255,255);
    color : black;
    margin-top : 40px;
}


.container2 {
    width: 70%;
    margin: 3.125rem auto 0 auto;
    background-color: #FF398A;
    border-radius: 2em;
  }


form {
    padding: 2.5rem 0.625rem;
    border-radius: 56px;
    text-align: center;
  }


.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    display: block;
    position : relative;
    left : 140px;
  }
  
.form-control {
    display: block;
    width: 70%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #232323;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
.form-control:focus {
    border-color: #FFB904;
    outline: 0;
    box-shadow: 0 0 0 0.5rem #70F8BA;
  }

#barrederecherche {
    width : 600px;
	height: 45px;
    margin-top: 20px;
    background-color : rgb(255,255,255);
    border : 1px solid rgb(255,255,255);
    margin-left: -16px;
    margin-top : 30px;
    color : rgb(0, 0, 0);
    border-radius: 2em;
    position : relative;
}

.container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap : 56px;
    margin-left: 100px;
  }


.container li {
    list-style-type: none;
}

.container li p {
    font-family:"Gilroy ExtraBold";
    text-align: center;
    font-size: 30px;
    position : relative;
    left : -40px;
}

.Horaires{
    display: flex;
    flex-direction: column;
    align-items: start;
    float: left;
    margin-left: 3%;
    font-family: 'fredoka one';
    list-style-type: none;
    font-size: 2em; 
}

.RS{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content:start;
    margin-right: 3%;
    margin-top: 30%;
}

.alcool{
    margin-top: 10%;
    text-align: center;
}
